version: "3.8"

services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: gururajg9/mean-backend:latest
    container_name: mean-backend
    restart: unless-stopped
    environment:
      MONGO_URI: mongodb://root:rootpassword@mongo:27017
    expose:
      - "3000"
    depends_on:
      - mongo

  frontend:
    image: gururajg9/mean-frontend:latest
    container_name: mean-frontend
    restart: unless-stopped
    expose:
      - "80"
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: mean-nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data:
